.alertMo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  color: black;

  button {
    width: 20px;
    height: 20px;
  }
}