.container {
  padding: 30px 0px;
  list-style: none;
  border-bottom: solid 1px #cfcccc;
  .info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .content {
    font-size: 20px;
  }
}
.rereplyContainer {
  display: flex;
  flex-direction: row;
  .box {
    margin-right: 50px;
    width: 10px;
    background-color: #cfcccc;
  }
}
.btnRgn {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  background: #ffffff;
  .secret {
    margin-right: 30px;
    cursor: pointer;
    font-size: 17px;
  }
  .post {
    width: 60px;
  }
  .cancel {
    padding: 20px 0;
    margin-right: 10px;
    width: 60px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    border: 1px solid #cfcccc;
    &:hover {
      background-color: #585858;
      color: #ffffff;
      cursor: pointer;
    }
    &:active {
      background-color: #000000;
      color: #ffffff;
    }
  }
}
.replyBtnContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.replyBtn {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
  background: white;
  border: 1px solid #cfcccc;
  border-radius: 5px;
  color: #696969;
  font-size: 15px;
  font-weight: 800;
  &:hover {
    background: #f2f2f2;
  }
  .icon {
    margin-right: 5px;
  }
}
