.title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.typechange {
  margin-left: 8px;
}



// @media(max-width:676px) {

//   .loginli {
//     &.Id {
//       padding: 15px 3.69822485207%;
//     }

//     &.Pw {
//       padding: 15px 2.51479289941%;
//     }
//   }

//   .input {
//     width: 39.94082840237%;
//   }

//   .small {
//     padding-left: 2.95857988166%;
//   }
// }