.tableAlign {
  border: 1px solid #000000;
  border-bottom: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  background-color: white;
  &:nth-last-child(1) {
    border-bottom: 1px solid black;
  }

  .errorcheck {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

    input {
      border-radius: 10px;
      padding: 15px 5px;
      width: 80%;
      font-size: 16px;
      border: 1px solid #dfdfdf;

      &::placeholder {
        font-size: 13px;
      }

      &:focus {
        border: 1px solid #99a1ff;
      }
    }
  }

  small {
    display: block;
    font-size: 13px;
    color: #f40b0b;

    &.true {
      color: #7ac40c;
    }
  }
}





    // @media(max-width:676px) {

    //   .loginli {
    //     &.Id {
    //       padding: 15px 3.69822485207%;
    //     }

    //     &.Pw {
    //       padding: 15px 2.51479289941%;
    //     }
    //   }

    //   .input {
    //     width: 39.94082840237%;
    //   }

    //   .small {
    //     padding-left: 2.95857988166%;
    //   }
    // }