.regist-page {
  form {
    position: relative;

    h2 {
      padding-bottom: 20px;
      text-align: left;
      font-size: 16px;
      font-weight: bolder;
    }

    .chk {
      position: absolute;
      top: 35px;
      right: 40px;
      font-size: 11px;
      font-weight: bolder;
      color: #e41a1a;
    }
  }
}

.description {

  input {
    width: 97%;
    height: 50px;
    padding: 10px;

  }
}

.typechange {
  display: inline-block;
  cursor: pointer;
}

/*NOTE 테이블스타일*/
.userinfoTable {
  width: 100%;
  border: 1px solid #bbbbbb;

  tr {
    border: 1px solid #000000;
  }

  th,
  td {
    padding: 10px 0;
    background-color: #ffffff;
  }

  th {
    font-size: 14px;

    label {
      font-weight: bolder;
    }

    .star {
      color: #f11616;
    }
  }

  td {
    text-align: left;
    border-right: 1px solid #000000;

    input {
      width: 60%;
      height: 40px;
      margin: 0;
      padding-left: 10px;
      border: 1px solid #e3e3e3;
      border-radius: 10px;

      &::placeholder {
        font-size: 13px;
      }
    }

    small {
      display: block;
      font-size: 13px;
      color: #f40b0b;

      &.true {
        color: #7ac40c;
      }
    }

    button {
      margin-left: 20px;
      width: 25%;
      height: 40px;
      color: white;
      background-color: #000000;
      border-radius: 10px;
      border: 1px solid black;

      &:hover {
        background-color: #585858;
      }

      &:active {
        background-color: #000000;
      }
    }
  }
}

.registSubmit {
  text-align: center;
  padding: 20px 0;

  button {
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 17px;
    color: #ffffff;
    background-color: black;
    border: 0;

    &:hover {
      background-color: #585858;
    }

    &:active {
      background-color: #000000;
    }
  }
}

.line-style {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  .jb-division-line {
    width: 130px;
    margin: 10px;
    border-top: 1px solid #a4a4a4;
  }
}