@import './function.scss';

.button {
  padding: 50px 0 0;
  background-color: #f5f5f5;
  button {
    width: 100%;
    height: 60px;
    font-size: 17px;
    color: #ffffff;
    background-color: black;
    border: 0;
    border-radius: 10px;
    &:hover {
      background-color: #585858;
    }
    &:active {
      background-color: #000000;
    }
  }
}

.page {
  max-width: $content-max-width;
  margin: 0 auto;
}

.board-page {
  width: 80%;
  margin: 0 auto;
}

