.button {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid black;

  &:hover {
    background-color: #585858;
  }

  &:active {
    background-color: #000000;
  }
}