.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 10px;
  text-align: center;
  &.is_small {
    height: 32px;
    font-size: 12px;
  }
  &.is_medium {
    height: 48px;
    font-size: 14px;
  }
  &.is_big {
    height: 60px;
    font-size: 16px;
    min-width: 120px;
  }

  &.is_Xlarge {
    height: 60px;
    font-size: 16px;
    width: 100%;
    min-width: 120px;
  }

  &:hover {
    background-color: #585858;
  }
  &:active {
    background-color: #000000;
  }
}