#wrap {
  width: 500px;
  margin: 0 auto;

  h1 {
    font-family: 'TheJamsil5Bold';
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }

  label {
    letter-spacing: 0.01px;
    display: block;
    width: 450px;
    font-weight: 900;
    margin-bottom: 10px;

    span {
      color: rgb(90, 129, 129);
      font-size: 12px;

      .s {
        color: rgb(52, 52, 52);
        text-decoration: underline;
        padding-bottom: 30px;
      }
    }
  }

  #boder {
    font-size: 12px;
    font-weight: 100;
    padding: 10px;
    margin: 10px 10px 30px 10px;
    width: 450px;
    height: 60px;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(255, 255, 255);
    overflow: auto;
  }


  #area {
    margin-top: 20px;
    text-align: center;
    font-size: 200%;
    display: flex;

    button {
      width: 230px;
      height: 60px;
      font-size: 20px;
    }
  }
}