.banner {
  padding: 30px;
  color: white;
  background: black;
  :first-child {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.header {
  margin-top: 30px;
  padding: 30px;
  border-top: 1px solid #cfcccc;
  border-bottom: 1px solid #cfcccc;
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 15px;
  font-size: 25px;
  input {
    width: 100%;
    font-size: 16px;
    border: none;
  }
}

.boardContainer{
  &:hover{
    background: #eeeeee;
  }
  .title{
    margin-bottom: 10px;
    font-size:30px;
    font-weight: 500;
  }
  .content {
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nickname{
    color:#797979;
  }
}
.pageContainer{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}