@import 'assets/style/variable.scss';

.boardContainer {
  display:flex;
  flex-direction: row;
  padding: 16px 0;
  border-bottom: solid 1px #cfcccc;
  &:hover {
    cursor: pointer;
    .title {
      color: $primary;
    }
  }
  .answerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid #cfcccc;
    border-radius: 10px;
    width:70px;
    height: 70px;
    margin-right: 20px;
  }
  .frontContainer{
    flex:1;
  }
  .info_wrap {
    position: relative;
    display: flex;
    align-items: center;
    .icons {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .userProfile{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .title {
    margin-top:5px;
    font-size: 30px;
    font-weight: 500;
  }
  .content {
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nickname {
    color: #797979;
  }
  .bottomInfo {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
  }
  .countInfo {
    display:flex;
    flex-direction: row;
  }
  .item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    color: #797979;
    gap: 3px;
  }
  .img{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width:70px;
    height: 70px;
    border: 1px solid #cfcccc;
    border-radius: 10px;
    padding:1px;
  }
}
