.boardContainer {
  margin: 0px 20px;
  padding: 30px;
  border-bottom: solid 1px #cfcccc;
  &:hover {
    background: #eeeeee;
    cursor: pointer;
  }
  .title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }
  .content {
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nickname {
    color: #797979;
  }
  .bottomInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .countInfo{
    display:flex;
    flex-direction: row;
    .item{
      display:flex;
      flex-direction: row;
      align-items: center;
      margin-left:15px;
      color:#797979;
    }
    p{
      margin-left: 7px;
    }
  }
}
