.sidebackground {
  z-index: -1;
  position: fixed;
  background-color: #f3f3f3;
  max-width: 300px;
  width: 35%;
  height: 100%;

}

.side {
  max-width: 300px;
  width: 35%;

  .imgwrap {
    position: relative;
    margin: 20px;
    height: 180px;
    overflow: hidden;
    border-radius: 12px;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }

  img {
    position: absolute;
    top: -1000%;
    right: -1000%;
    bottom: -1000%;
    left: -1000%;
    margin: auto;
    height: 100%;
    // padding: 20px;
    // width: 100%;
    // height: 220px;
    // box-sizing: border-box;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    li {
      padding: 20px;
      list-style: none;

      &:hover {
        background-color: #ffffff;
      }

      a {
        display: block;
      }
    }
  }
}