.main {
  display: flex;
}

.delete {
  .deletgaider {
    margin: 50px auto;
    padding: 30px;
    // width: 350px;
    border-radius: 10px;
    background: #ececec;
    box-sizing: border-box;
    font-size: 12px;
  }
}