.mypage {
  .user-data {
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    .title {
      cursor: pointer;
    }
  }

  .title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    left: 0;
  }

  .content {
    left: 0;
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nickname {
    left: 0;
    color: #797979;
  }
}