.mystudyroom {
  padding-top: 20px;
  h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  }
  .list {
    margin-top: 20px;
    margin-bottom: 40px;
    .list_item {
      padding: 20px 0 20px 8px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
      &:last-child {
        border-bottom: none;
      }
      .room_title {
        margin-bottom: 6px;
      }
      .user {
        position: relative;
        padding: 4px 14px;
        display: inline-flex;
        height: 26px;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #2f92ff;
        color: #2f92ff;
        &:hover {
          background: #2f92ff;
          color: #fff;
        }
      }
    }
  }
}