@import 'assets/style/function.scss';

.head {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.header {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  color: #0c0c0c;
  display: flex;
  max-width: 1180px;
  justify-content: space-between;
  align-items: center;

  .logo {
    flex: 3;
    font-size: 20px;
    padding-left: 35px;
    background: url(dt.svg);
    background-size: 30px;
    background-repeat: no-repeat;
  }

  .navBar {
    display: flex;
    // gap: 10%;
    justify-content: center;
    flex: 7;

    @include media-mo {
      display: block;
      position: absolute;
      background-color: #ffffff;
      box-shadow: 4px rgba(0, 0, 0, 0.2);
      right: 0;
      top: 61px;
      width: 200px;
      height: 100%;
      overflow: hidden;
      align-items: center;
      transition: all 0.4s;
      z-index: 99;

      &.open {
        width: 200px;
        background-color: #c1c8dc;
      }

      &.notOpen {
        opacity: 0;
        width: 0;
      }
    }
  }

  .menuBar {
    justify-content: right;
    align-items: center;
    display: flex;
    text-align: center;
    flex: 2;

    li {
      flex: 1;
    }
  }

  .header-user {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 9px;
    }
  }

  .display {
    display: none;

    @include media-mo {
      display: block;
    }
  }

  li {
    &.popover-link {
      position: relative;
      height: 30px;
      cursor: pointer;
    }

    a {
      display: block;
      color: #444;

      @include media-mo {
        padding: 10px 0;

      }

      &:hover,
      &.is-active {
        color: #063eff;

        @include media-mo {
          background-color: #dfe4ef;
        }
      }
    }
  }
}



.bell {
  position: relative;

  .point {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
  }
}

.notShowMenu {
  cursor: pointer;
  transition: all 0.4s;
}

.showMenu {
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.4s;
}