@import 'assets/style/function.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $content-max-width;;
  margin: 0 auto;
  padding: 15px 0 47px;
  text-align: center;
  h1 {
    font-weight: 600;
    font-size: 30px;
    @include font('cc');
    a {
      display: block;
    }
  }
  .left {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      margin-left: 100px;
      gap: 50px;
    }
  }
}
