.studyroom-user-modal {
  .user-list {
    padding: 18px 6px;
    border-bottom: 1px solid #ccc;
    .btn-wrap {
      margin-top: 10px;
      justify-content: flex-end;
    }
    .is-my {
      .btn-out {
        display: none;
      }
    }
    .btn-outroom, .btn-out {
      background: #dc3545;
    }
  }
}