.container {
  margin: 20px;
  padding: 50px;
  border: solid 1px #cfcccc;
  header {
    border-bottom: solid 1px #cfcccc;
    .nick {
      font-size: 25px;
      color: black;
    }
    .info {
      display: flex;
      margin-bottom: 20px;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      color: #8b8b8b;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    .title {
      margin-top:40px;
      margin-bottom: 30px;
      font-size: 45px;
      font-weight: 500;
    }
    .content {
      padding-bottom: 50px;
      font-size: 25px;
      border-bottom:solid 1px #cfcccc;
    }
  }
  .countContainer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .btn{
      margin:0px 10px;
    }
  }
}
