body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*여백초기화*/
/* reset.css */
// @import font

/*테두리없앰*/
fieldset {
  border: 0;
}
legend {
  display: none;
}
/* EO세로정렬*/
label,
input,
select {
  vertical-align: middle;
}
a {
  &:link {
    color: black;
    text-decoration: none;
  }
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: #a4a4a4;
    text-decoration: none;
  }
  &:active {
    color: #000000;
    text-decoration: none;
  }
  &:focus {
    color: black;
    text-decoration: none;
  }
}

@font-face {
  font-family: 'ChosunCentennial';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 
  ipad 제일 작은게 768
  모바일 767 
*/

// @media (min-width: 767px) {

/*NOTE form 영역입니다*/
form {
  margin: 0 auto;
  padding: 30px 30px;
  width: 430px;
  background-color: #f5f5f5;
  border: 1px solid #adb5b5;
  border-radius: 10px;

  /*NOTE 가입으로 다양한 사람들을 만나보세요!*/
  p {
    padding-bottom: 20px;
    line-height: 28px;
    font-weight: bold;
    background-color: #f5f5f5;
  }

  /*NOTE 아이디, 비밀번호 칠 수 있는 영역입니다*/
  ul.login_main {
    text-align: center;
    padding: 0px 0;
    background-color: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
    li {
      &:nth-child(1) {
        border-bottom: 1px solid #000000;
      }
      display: inline-block;
      padding: 8px 0;
      width: 100%;
      font-weight: bold;
      background-color: #ffffff;
      label {
        background-color: #ffffff;
        &.Id {
          padding: 15px 25px;
        }
        &.Pw {
          padding: 15px 17px;
        }
      }
      input {
        padding: 15px 0;
        width: 270px;
        font-size: 16px;
        border: 1px solid rgb(207, 207, 207);
      }
      small {
        display: block;
        text-align: left;
        font-size: 12px;
        padding-left: 20px;
      }
    }
  }
}

/*NOTE 버튼입니다 */
div.button {
  padding: 50px 0 0;
  background-color: #f5f5f5;
  button {
    &:hover {
      background-color: #585858;
    }
    &:active {
      background-color: #000000;
    }
    width: 100%;
    height: 60px;
    font-size: 17px;
    color: #ffffff;
    background-color: black;
    border: 0;
    border-radius: 10px;
  }
}
