@font-face {
  font-family: 'ChosunCentennial';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*전체 스타일*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
}
#wrap {
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
  width: 750px;
} /*전체적으로 포함*/

/*회원가입,홈>회원가입*/
h1 {
  font-family: 'ChosunCentennial';
  text-align: center;
  padding: 30px;
}
p.p {
  position: absolute;
  right: 40px;
  top: 80px;
}

/*양식 스타일*/
form {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px 50px;
  border: 1px solid rgb(173, 181, 181);
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
} /*form 양식 안에 있는 내용입니다*/
form fieldset {
  border: 0;
}
fieldset legend {
  display: none;
}

/*정보입력,약관 동의 및 마케팅 동의*/
h2 {
  padding-bottom: 30px;
  font-weight: bolder;
}
p.p1 {
  position: absolute;
  top: 50px;
  right: 50px;
  color: rgb(228, 26, 26);
  font-weight: bolder;
} /* '*'빨간 주의 문구가 들어갔습니다*/

/*테이블스타일*/
table {
  width: 100%;
  border: 1px solid rgb(187, 187, 187);
  /* border-left: 2px solid rgb(187, 187, 187); */
}
table th,
table td {
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
} /*테이블 아래 라인*/
table th.line,
table td.line {
  border-top: 1px solid rgb(0, 0, 0);
} /*테이블 아래 라인*/
/*th 스타일*/
th {
  width: 150px;
  font-size: 16px;
}
th label {
  font-weight: bolder;
} /*정보부분 굵게*/
th span.star {
  color: rgb(241, 22, 22);
  font-weight: bolder;
} /*정보의 "별"표시입니다*/
/*td 스타일*/
td input {
  vertical-align: middle;
  padding-left: 2px;
  margin-left: 5px;
  height: 40px;
  border: 1px solid rgb(227, 227, 227);
} /*텍스트 박스 스타일입니다*/
td button {
  vertical-align: middle;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  margin-left: 10px;
  color: white;
}

/*제출하기*/
div.submit {
  position: relative;
  width: 100%;
  padding: 20px;
}
div.submit button {
  position: absolute;
  left: 275px;
  display: block;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: black;
  border: 0;
  width: 200px;
  height: 60px;
  font-size: 17px;
}
button:hover {
  background-color: rgb(88, 88, 88);
}
button:active {
  background-color: rgb(0, 0, 0);
}
