.container{
    padding:30px 0px;
    list-style: none;
    border-bottom:solid 1px #cfcccc;

}
.rereplyContainer{
    margin-left: 50px;
}
.btnRgn {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
    background: #ffffff;
    .secret{
      margin-right: 30px;
      cursor: pointer;
      font-size: 17px;
    }
    .post {
      width: 60px;
    }
    .cancel {
      padding: 20px 0;
      margin-right: 10px;
      width: 60px;
      height: 20px;
      text-align: center;
      border-radius: 10px;
      font-size: 17px;
      border: 1px solid #cfcccc;
      &:hover {
        background-color: #585858;
        color: #ffffff;
        cursor: pointer;
      }
      &:active {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }