.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin:10px;
    padding: 7px;
    width: 80%;
    font-size:30px;
    border:none;
    &:focus{
      outline:2px solid #000000;
    }
}

// CKEditor
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
}
.ck.ck-editor{
  max-width:80%;
}

.btnRgn{
  display: flex;
  margin-top:10px;
}

.submit {
  margin-left: 10px;
  padding: 20px 0; 
  width: 150px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  background-color: black;
  border: 0;
  &:hover {
      background-color: #585858;
  }
  &:active {
      background-color: #000000;
  }
}

.cancel{
  padding: 20px 0;
  width: 150px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  background-color: black;
  border: 0;
  &:hover {
      background-color: #585858;
  }
  &:active {
      background-color: #000000;
  }
}